*{
  margin: 0px;
  padding: 0px;
}
 
.nav{
  display: flex;
  justify-content: center;
}
.product1{
  margin-left: 200px;
  margin-top: 50px;
}
.p{
  margin-left: 200px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  
}

.btn1{
  margin-left: 20px;
  display: inline;
  align-items:flex-start;
  color: red;
}
.btn2{
  color:red;
}
.cart1{
  margin-left: 200px;
}
